/* this is for global styling. will be applied to every single page*/
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
body {
  height: 60%;
  background-image: url("./images/otherbackground.png");
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position: center;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 1024px) {
  body {
    height: 50vmin;
    transform: 5;
  }
}




