.card {
   width: 21rem;
   height: 23rem;
   box-sizing: border-box;
   border: 1px solid white;
   background-color: white;
   border-radius: 10px;
   margin: 20px;
}


.cal-new {
   background: white;
   margin-left: 290px;
   margin-top: 90px;
 
}

.trc-new {

   margin-left: 750px;
   margin-top: -390px;  

}
