.card {

   width: 25rem;
   height: 25rem;
   box-sizing: border-box;
   border: 1px solid white;
   background-color: white;
   border-radius: 10px;
   margin: 20px;
}

.cal-new {
   background: white;
   margin-left: 250px;
   margin-top: 100px;
 
}

.trc-new {

   margin-left: 700px;
   margin-top: -420px;  

}
