
.card {
   width: 25rem;
   height: 30rem;
   box-sizing: border-box;
   border: 1px solid white;
   background-color: white;
   border-radius: 10px;
   box-shadow: 5px 5px rgba(128, 128, 128, 0.425);
   margin: 20px;
  
}

.cal-new {
   margin-left: 250px;
   margin-top: 50px;
 
}

.trc-new {
   margin-left: 700px;
   margin-top: -500px;

}